*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header{
    background-color: #EEEFF1;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 650px;
}
.nav-menu li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.nav-menu-item a:hover{
    color: #ff00ff;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}
.main-text{
    width: 640px;
}

.main img{
    margin-right: 140px;
}

.main-text p{
    margin: 60px 0;
    line-height: 30px;
}
.main-button{
    padding: 25px 41px;
    background-color: #34547A;
    color: #fff;
    border: none;
}
.main-button:hover{
    background-color: #fff;
    border: 1px solid #34547A;
    color: #34547A;
    cursor: pointer;
}
.text-block{
    width: 540px;
    margin: auto;
    text-align: center;
    margin: 130px auto 100px auto;
}
.bg-blue{
    background-color: #34547A;
    padding: 80px 0;
}
.projecst{
    display: flex;
    justify-content: space-between;
}
.projecst-item{
    display: flex;
    align-items: center;
}
.projecst-item-text p{
    margin: 0;
}
.projecst-item-text{
    color: #fff;
    margin-left: 10px;
}
.projecst-item-text span{
    font-size: 20px;
    width: 600px;
}
.skills-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.skills-text h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}
.skills-text-progress-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.skills-text-progress-item label{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 20px;
}
.skills-text-progress-item progress{
    background-color: #34547A;
    border-radius: 5px;
    height: 10px;
}
progress::-webkit-progress-bar{
    background-color: #c4c4c4;
}
progress::-webkit-progress-value{
    background-color: #34547A;
}
.works{
    padding: 100px 0;
}
.works .text-block{
    margin: 0 auto;
}
.img-block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.img-block img{
    width: 25%;
    height: 100%;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 540px;
}
.form-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-item input{
    width: 40%;
    border: 1px solid #fff;
    padding: 17px 20px;
}
.text-area{
    width: 540px;
    height: 170px;
}
.main-button-btn{
    width: 50%;
    margin: auto;
    height: 50px;
    background-color: #34547A;
    color: #fff;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    margin-bottom: 50px;
}
.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}
.footer-text span{
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
}
.bg-blue-class{
    padding: 50px 0;
    background-color: #34547A;
}
.footer-block-social img:hover{
    transform: rotate(180deg);
    transition: 0.5s;
}